h1 {
  font-family: "Montserrat", sans-serif;
}

.col1 {
  color: white;
  background-color: #6bb56b;
  height: 400px;
  display: flex;
}

.col1 p {
  margin: auto;
}
.col2 {
  background-color: #369bff;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: column;
  border-left: 2px solid black;
}

.col2 p {
  margin-top: auto;
}

.ex1row1 {
  background-color: rgb(255, 255, 160);
}

.ex1row1 p {
  margin: auto;
}
.ex1row2 {
  background-color: rgb(247, 247, 66);
}

.ex1row2 p {
  margin: auto;
}

.ex1row3 {
  background-color: #fde420;
}

.ex1row3 p {
  margin: auto;
}

.container-box {
  height: 400px;
  border: 2px solid;
  border-radius: 50px;
  overflow: hidden;
}

.btn1 {
  width: 90%;
}

.contback {
  background-color: rgb(241, 241, 241);
}
.texted {
  font-size: 13px;
}

.vieweditbtn {
  background-color: transparent;
}

.edit {
  background-color: transparent;
  width: 45px;
  height: 32px;
  color: grey;
  font-size: 14px;
  padding: 0px;
}

.view {
  background-color: transparent;
  width: 50px;
  height: 32px;
  color: grey;
  font-size: 14px;
  padding: 0px;
}
